<Blazorise.ThemeProvider Theme="@theme">
    <CascadingAuthenticationState>

        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <CascadingValue Value="@routeData">

                    <CascadingValue Value="@ApplicationProxy">

                        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layouts.MainLayout)" />
                        <FocusOnNavigate RouteData="@routeData" Selector="h1" />

                    </CascadingValue>

                </CascadingValue>
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(Layouts.MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
</Blazorise.ThemeProvider>


@code {

    [Inject]
    public IApplicationsController ApplicationProxy { get; set; }

    private Theme theme = new()
        {
            BarOptions = new()
            {
                HorizontalHeight = "72px"
            },
            ColorOptions = new()
            {
                Primary = "#3498db",
                Secondary = "#9b59b6",
                Success = "#23C02E",
                Info = "#9BD8FE",
                Warning = "#F8B86C",
                Danger = "#F95741",
                Light = "#F0F0F0",
                Dark = "#535353",
            },
            BackgroundOptions = new()
            {
                Primary = "#3498db",
                Secondary = "#9b59b6",
                Success = "#23C02E",
                Info = "#9BD8FE",
                Warning = "#F8B86C",
                Danger = "#F95741",
                Light = "#F0F0F0",
                Dark = "#535353",
            },
            InputOptions = new()
            {
                CheckColor = "#0288D1",
            }
        };
}