@if (CurrentUser == null)
{
    <Paragraph>Please Wait...</Paragraph>
}
else
{
    if (@Subscription != null)
    {
        <Table>
            <TableBody>
                <TableRow>
                    <TableHeaderCell>Started</TableHeaderCell>
                    <TableRowCell>@Subscription.StartDate</TableRowCell>
                </TableRow>
            </TableBody>
        </Table>

        <Tabs SelectedTab="products">
            <Items>
                <Tab Name="products">Products</Tab>
                <Tab Name="invoices">Invoices</Tab>
                <Tab Name="usage_records">Usage Summary</Tab>
            </Items>
            <Content>
                <TabPanel Name="products">
                    
                    

                    <Table>
                        <TableBody>
                            @foreach (var item in @Subscription.Items)
                            {
                                <TableRow>
                                    <TableHeaderCell>Name</TableHeaderCell>
                                    <TableRowCell>@item.Product.Name</TableRowCell>
                                </TableRow>
                                <TableRow>
                                    <TableHeaderCell>Billed</TableHeaderCell>
                                    <TableRowCell>Every @item.Plan.IntervalCount @item.Plan.Interval</TableRowCell>
                                </TableRow>
                            }
                        </TableBody>
                    </Table>

                </TabPanel>
                <TabPanel Name="invoices">
                    <Table>
                        
                        <TableHeader>
                            <TableRow>
                                <TableHeaderCell>Invoice #</TableHeaderCell>
                                <TableHeaderCell>Total</TableHeaderCell>
                                <TableHeaderCell>Period Start</TableHeaderCell>
                                <TableHeaderCell>Period End</TableHeaderCell>
                                <TableHeaderCell>Status</TableHeaderCell>
                            </TableRow>
                        </TableHeader>
                        <TableBody>


                            @foreach (var invoice in @Subscription.Invoices)
                            {
                                <TableRow>
                                    <TableRowCell>
                                        <NavLink href="@{$"invoice/{invoice.Number}"}">
                                            @invoice.Number</NavLink>
                                    </TableRowCell>
                                    <TableRowCell>@invoice.Total</TableRowCell>
                                    <TableRowCell>@invoice.PeriodStart.ToShortDateString()</TableRowCell>
                                    <TableRowCell>@invoice.PeriodEnd.ToShortDateString()</TableRowCell>
                                    <TableRowCell>@invoice.Status</TableRowCell>
                                </TableRow>
                            }
                        </TableBody>
                    </Table>
                </TabPanel>
                <TabPanel Name="usage_records">
                    
                    <Table>
                        <TableHeader>
                            <TableRow>
                                <TableHeaderCell>
                                    Period
                                </TableHeaderCell>
                                <TableHeaderCell>
                                    Amount
                                </TableHeaderCell>
                            </TableRow>
                        </TableHeader>
                        
                        <TableBody>


                        @foreach (var usage in @Subscription.Items.SelectMany(x => x.UsageRecords))
                        {
                            <TableRow>
                                <TableRowCell>
                                    @usage.PeriodStart - @usage.PeriodEnd
                                </TableRowCell>
                                <TableRowCell>
                                    @usage.TotalUsage
                                </TableRowCell>
                            </TableRow>
                        }

                        </TableBody>
                    </Table>

                </TabPanel>
            </Content>
        </Tabs>



        <Button Clicked="ShowModal" Color="Color.Danger">Delete Subscription</Button>

    }

    <Modal @ref="@deleteSubscription">
        <ModalContent>
            <ModalHeader>
                <ModalTitle>Delete Subscription</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Paragraph>Are you sure you want to delete your subscription?</Paragraph>
            </ModalBody>
            <ModalFooter>
                <Button Color="@Color.Secondary" Clicked="@HideModal">Close</Button>
                <Button Color="@Color.Danger" Clicked="@DeleteSubscription">Yes, Delete Subscription</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
}
