@inherits ApplicationDetailsBase
@page "/applications/{ApplicationId:guid}"
@layout ApplicationLayout

@if (Application == null)
{
    <p>Loading...</p>
}
else
{
    <Breadcrumb NavigationItems="NavigationItems"></Breadcrumb>


    <p>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <NavLink class="btn btn-outline-primary" href="@($"/applications/{ApplicationId}/phrases/create")">Create Phrase</NavLink>
            <NavLink class="btn btn-outline-primary" href="@($"/applications/{ApplicationId}/users/invite")">Invite User</NavLink>
        </div>
    </p>
    <div class="row">
        <div class="col-sm-3 mb-5">
            <Card Title="Phrases" TitleCssClass="text-center">
                <h1 class="display-6 text-center">@Application.PhraseCount</h1>
            </Card>
        </div>
        <div class="col-sm-3 mb-5">
            <Card Title="Languages" TitleCssClass="text-center">
                <h1 class="display-6 text-center">@Application.Languages.Count</h1>
            </Card>
        </div>
        <div class="col-sm-3 mb-5">
            <Card Title="Users" TitleCssClass="text-center">
                <h1 class="display-6 text-center">@Application.Users.Count</h1>
            </Card>
        </div>
        <div class="col-sm-3 mb-5">
            <Card Title="Translations" TitleCssClass="text-center">
                <h1 class="display-6 text-center">@Application.TranslationCount</h1>
            </Card>

        </div>
    </div>
    <div class="row">
        <div class="col-8">

            @if (Phrases == null)
            {
                <p>Loading Phrases...</p>
            }
            else
            {
                <h3>Phrases (@Phrases.TotalItems)</h3>

                <PagingTable PagedList="Phrases" PageChanged="HandlePageNavigation">
                    <HeaderTemplate>
                        <th>Id</th>
                        <th>Phrase</th>
                        <th>Translations</th>
                    </HeaderTemplate>
                    <ItemTemplate>
                        <td>@context.Id</td>
                        <td>
                            <NavLink href="@{
                        $"/applications/{ApplicationId}/phrases/{@context.Id}"
}">
                                @context.Text
                            </NavLink>
                        </td>
                        <td>@context.TranslationCount</td>

                    </ItemTemplate>
                </PagingTable>
            }


        </div>
        <div class="col-4">

            <div class="accordion accordion-flush" id="sidebar">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                            Languages (@Application.Languages.Count)
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#sidebar">
                        <div class="accordion-body">
                            <ApplicationLanguageList LanguagesChanged="LoadData"></ApplicationLanguageList>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Users (@Application.Users.Count)
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#sidebar">
                        <div class="accordion-body">

                            <CommonTable Items="Application.Users">
                                <HeaderTemplate>
                                    <th>Name</th>
                                    <th>Status</th>
                                </HeaderTemplate>
                                <ItemTemplate>
                                    <td>@context.Name</td>
                                    <td>@context.Status</td>
                                </ItemTemplate>
                            </CommonTable>

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

}
