@inherits ApplicationDetailsBase
@page "/applications/{ApplicationId:guid}"

@if (Application == null)
{
    <p>Loading...</p>
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            
            <li class="breadcrumb-item active" aria-current="page">@Application.Name</li>
        </ol>
    </nav>


    <p>
        <div class="btn-group" role="group" aria-label="Basic outlined example">

            <NavLink class="btn btn-outline-primary" href="@($"/applications/{ApplicationId}/phrases/create")">Create Phrase</NavLink>
            <NavLink class="btn btn-outline-primary" href="@($"/applications/{ApplicationId}/users/invite")">Invite User</NavLink>
        </div>
    </p>
    <div class="row">
        <div class="col-sm-3 mb-5">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title text-center">Phrases</h5>
                    <h1 class=" display-6 text-center">@Application.PhraseCount</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-5">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title  text-center">Languages</h5>
                    <h1 class=" display-6 text-center">@Application.Languages.Count</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-5">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title text-center">Users</h5>
                    <h1 class=" display-6 text-center">@Application.Users.Count</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-5">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title text-center">Translations</h5>
                    <h1 class=" display-6 text-center">@Application.TranslationCount</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <h3>Phrases</h3>
            <PhraseList ApplicationId="ApplicationId"></PhraseList>
        </div>
        <div class="col-4">

            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Languages (@Application.Languages.Count)
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ApplicationLanguageList LanguagesChanged="LoadData"></ApplicationLanguageList>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Users (@Application.Users.Count)
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ApplicationUserList></ApplicationUserList>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

}
