@inherits ApplicationDetailsBase
@page "/applications/{ApplicationId:guid}"

@if (Application == null)
{
    <p>Loading...</p>
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <NavLink href="@{
                                                           $"/applications"
                                                       }">Applications</NavLink>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@Application.Name</li>
        </ol>
    </nav>


    <p>
        <div class="btn-group" role="group" aria-label="Basic outlined example">

            <NavLink class="btn btn-outline-primary" href="@($"/applications/{ApplicationId}/phrases/create")">Create Phrase</NavLink>
            <NavLink class="btn btn-outline-primary" href="@($"/applications/{ApplicationId}/users/invite")">Invite User</NavLink>
            <NavLink class="btn btn-outline-primary" href="@($"/applications/{ApplicationId}/languages")">Add Language</NavLink>
        </div>
    </p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 mb-5">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Phrases</h5>
                        <h1 class=" display-6">@Application.PhraseCount</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-5">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Languages</h5>
                        <h1 class=" display-6">@Application.Languages.Count</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-5">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Users</h5>
                        <h1 class=" display-6">@Application.Users.Count</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-5">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Translations</h5>
                        <h1 class=" display-6">@Application.TranslationCount</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <PhraseList ApplicationId="ApplicationId"></PhraseList>
            </div>
            <div class="col-4">
                <ApplicationLanguageList LanguagesChanged="LoadData"></ApplicationLanguageList>
            </div>
        </div>
    </div>

}
