
@inherits ApplicationDetailsBase
@page "/applications/{ApplicationId:guid}"

@if (Application == null)
{
    <p>Loading...</p>
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><NavLink href="@{$"/applications"}">Applications</NavLink></li>
            <li class="breadcrumb-item active" aria-current="page">@Application.Name</li>
        </ol>
    </nav>
    <div class="btn-group" role="group" aria-label="Basic outlined example">
          
        <NavLink class="btn btn-outline-primary" href="@($"/applications/{ApplicationId}/phrases/create")">Create Phrase</NavLink>
        <NavLink class="btn btn-outline-primary" href="@($"/applications/{ApplicationId}/users/invite")">Invite User</NavLink>
        <NavLink class="btn btn-outline-primary" href="@($"/applications/{ApplicationId}/languages")">Add Language</NavLink>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Languages:</th>
                <td>
                    <NavLink href="@{$"applications/{ApplicationId}/languages"}">
                        @Application.Languages.Count
                    </NavLink>
                </td>

            </tr>
        <tr>
            <th>Phrases:</th>
            <td>
                <NavLink href="@{$"applications/{ApplicationId}/phrases"}">
                    @Application.PhraseCount
                </NavLink></td>

        </tr>
        <tr>
            <th>Users:</th>
            <td>
                <NavLink href="@{$"applications/{ApplicationId}/users"}">
                    @Application.Users.Count
                </NavLink>
            </td>
        </tr>
        </tbody>
    </table>
}
