@page "/applications/{ApplicationId:guid}/phrases/{PhraseId:int}/languages/{LanguageId}"
@inherits PhraseDetailsBase

@code {

}
@layout ApplicationLayout

@if (Application != null && ApplicationPhrase != null)
{

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <NavLink href="@{
                $"/applications"
}">Applications</NavLink>
            </li>
            <li class="breadcrumb-item">
                <NavLink href="@{
                $"/applications/{ApplicationId}"
}">@Application.Name</NavLink>
            </li>

            <li class="breadcrumb-item">
                <NavLink href="@{
                $"/applications/{ApplicationId}/phrases/{PhraseId}"
}">@ApplicationPhrase.Id</NavLink>
            </li>

            <li class="breadcrumb-item active" aria-current="page">Manage Translation: @ApplicationTranslation.LanguageName</li>
        </ol>
    </nav>
}


@if (ApplicationTranslation != null && ApplicationPhrase != null)
{
    <div class="row mb-5">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">English</h5>
                    <p class="card-text">@ApplicationPhrase.Text</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@ApplicationTranslation.LanguageName</h5>
                    <p class="card-text">
                        @ApplicationTranslation.Text
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Text</th>
                    <th>Engine</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var translation in ApplicationPhrase.MachineTranslations[LanguageId])
                {
                    <tr>
                        <td>@translation.Text</td>
                        <td>@translation.Engine</td>
                        <td class="btn-group-sm">
                            <button @onclick="()=>Callback(translation.Text)"
                                    class="btn btn-outline-primary">
                                Use This Translation
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    @*
    <EditForm Model="Input" OnSubmit="HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">

            <label for="name" class="form-label">Name</label>
            <InputText id="name" class="form-control" @bind-Value="Input.Text"></InputText>
        </div>


        <button type="submit" class="btn btn-primary">Save</button>

    </EditForm>*@
} 