@page "/applications/{ApplicationId:guid}/phrases/{PhraseId:int}"
@inherits PhraseDetailsBase
@layout ApplicationLayout
@if (Application == null)
{
    <p>Loading Phrase...</p>
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><NavLink href="@{
                                                           $"/applications"
                                                       }">Applications</NavLink></li>
            <li class="breadcrumb-item"><NavLink href="@{
                                                           $"/applications/{ApplicationId}"
                                                       }">@Application.Name</NavLink></li>
            <li class="breadcrumb-item active" aria-current="page">@ApplicationPhrase.Id</li>
        </ol>
    </nav>

    @if (ApplicationPhrase != null)
    {
        
        <h3>@ApplicationPhrase.Id: @ApplicationPhrase.Text</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Language</th>
                <th>Text</th>
                <td>Machine Translations</td>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var translation in ApplicationPhrase.Translations)
            {
                <tr>
                    <th>
                        <NavLink href="@{$"/applications/{ApplicationId}/languages/{@translation.LanguageId}"}">
                            
                            @translation.LanguageName
                        </NavLink>
                        
                    </th>
                    <td>@translation.Text</td>
                    <td>@ApplicationPhrase.MachineTranslationCount[translation.LanguageId]</td>
                    <td class="btn-group">
                        <NavLink href="@{
                                           $"/applications/{ApplicationId}/phrases/{PhraseId}/languages/{translation.LanguageId}"
                                       }"
                                 class="btn btn-outline-primary">
                            Edit
                        </NavLink>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
}

@code {

}
