@page "/applications/{ApplicationId:guid}/phrases/{PhraseId:int}"
@inherits PhraseDetailsBase
@layout ApplicationLayout
@if (Application == null)
{
    <p>Loading Phrase...</p>
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><NavLink href="@{
                                                           $"/applications"
                                                       }">Applications</NavLink></li>
            <li class="breadcrumb-item"><NavLink href="@{
                                                           $"/applications/{ApplicationId}"
                                                       }">@Application.Name</NavLink></li>
            <li class="breadcrumb-item active" aria-current="page">@ApplicationPhrase.Id</li>
        </ol>
    </nav>

    @if (ApplicationPhrase != null)
    {
        
        <h3>@ApplicationPhrase.Text</h3>


        <CommonTable Items="ApplicationPhrase.Translations">
            <Header>
                <th>Language</th>
                <th>Text</th>
                <td>Machine Translations</td>
               
            </Header>
            <Body>
            <th>
                <NavLink href="@{$"/applications/{ApplicationId}/languages/{@context.LanguageId}"}">

                        @context.LanguageName
                </NavLink>
                        
            </th>
            <td>
                <NavLink href="@{
                                   $"/applications/{ApplicationId}/phrases/{PhraseId}/languages/{context.LanguageId}"
                               }">
                    @context.Text
                </NavLink>
               
            </td>
            <td>

                <NavLink href="@{
                                   $"/applications/{ApplicationId}/phrases/{PhraseId}/languages/{context.LanguageId}"
                               }">
                    @ApplicationPhrase.MachineTranslationCount[context.LanguageId]
                </NavLink>
                
            </td>
          
            </Body>
        </CommonTable>
        
    }
}

@code {

}
