@page "/applications/{ApplicationId:guid}/phrases/{PhraseId:int}"
@inherits PhraseDetailsBase
@layout ApplicationLayout
@if (Phrase == null)
{
    <p>Loading Phrase...</p>
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><NavLink href="@{$"/applications"}">Applications</NavLink></li>
            <li class="breadcrumb-item"><NavLink href="@{$"/applications/{ApplicationId}"}">@Application.Name</NavLink></li>
            <li class="breadcrumb-item active" aria-current="page">@Phrase.Text</li>
        </ol>
    </nav>
    <h3>@Phrase.Id: @Phrase.Text</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Language</th>
            <th>Text</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
           @*  @foreach (var translation in Phrase.Translations)
            {
                <tr>
                    <th>@translation.LanguageName</th>
                    <td>@translation.Text</td>
                    <td class="btn-group">
                        <NavLink href="@{$"/applications/{ApplicationId}/phrases/{PhraseId}/languages/{translation.LanguageId}"}"
                           class="btn btn-outline-primary">
                            Edit
                        </NavLink>
                    </td>
                </tr>
            } *@
        </tbody>
    </table>
}

@code {

}
