@inherits ApplicationDetailsBase

@page "/applications/{ApplicationId:guid}"

@if (Application == null)
{
    <p>Loading...</p>
}
else
{
    <ApplicationBreadcrumb NavigationItems="@NavigationItems"></ApplicationBreadcrumb>

    <Heading Size="HeadingSize.Is3">@Application.Name</Heading>

    <Buttons>
        <Button Color="Color.Secondary" Type="ButtonType.Link" To=@($"/applications/{ApplicationId}/create-phrase")>Create Phrase</Button>
    </Buttons>

    <Container Fluid Margin="Margin.Is5.FromBottom">
         <Row>
             <Column ColumnSize="ColumnSize.Is3">
                 <Card>
                     <CardBody>
                         <CardTitle>Phrases</CardTitle>
                         <CardText>@Application.PhraseCount</CardText>
                     </CardBody>
                 </Card>
             </Column>
             <Column ColumnSize="ColumnSize.Is3">
                 <Card>
                     <CardBody>
                         <CardTitle>Languages</CardTitle>
                         <CardText>@Application.Languages.Count</CardText>
                     </CardBody>
                 </Card>
             </Column>
             <Column ColumnSize="ColumnSize.Is3">
                 <Card>
                     <CardBody>
                         <CardTitle>Translations</CardTitle>
                         <CardText>@Application.TranslationCount</CardText>
                     </CardBody>
                 </Card>
             </Column>
             <Column ColumnSize="ColumnSize.Is3">
                 <Card>
                     <CardBody>
                         <CardTitle>Users</CardTitle>
                         <CardText>@Application.Users.Count</CardText>
                     </CardBody>
                 </Card>
             </Column>
         </Row>
     </Container>

    <Container Fluid>
     <Row>
         <Column ColumnSize="ColumnSize.Is8">

             <PhraseList @ref="list" ApplicationId="@ApplicationId"></PhraseList>

         </Column>
         <Column ColumnSize="ColumnSize.Is4">

             <Accordion>
                 <Collapse>
                     <CollapseHeader>
                         <Heading Size="HeadingSize.Is5">
                             <AccordionToggle>Languages</AccordionToggle>
                         </Heading>
                     </CollapseHeader>
                     <CollapseBody>
                         <LanguageList LanguagesChanged="Reload"></LanguageList>
                     </CollapseBody>
                 </Collapse>
                 <Collapse>
                     <CollapseHeader>
                         <Heading Size="HeadingSize.Is5">
                             <AccordionToggle>Users</AccordionToggle>
                         </Heading>
                     </CollapseHeader>
                     <CollapseBody>
                         This is User List
                     </CollapseBody>
                 </Collapse>
             </Accordion>

         </Column>
     </Row>
 </Container>
}
