@inherits ApplicationDetailsBase

@page "/applications/{ApplicationId:guid}"

@if (Application == null)
{
    <p>Loading...</p>
}
else
{
    <Bar>
        <BarStart>
            <ApplicationBreadcrumb NavigationItems="@NavigationItems"></ApplicationBreadcrumb>
        </BarStart>
        <BarEnd>
            <Buttons>
                <Button Disabled="@Disabled" Color="Color.Secondary" Type="ButtonType.Link" To=@($"/applications/{ApplicationId}/create-phrase")>Create Phrase</Button>

                <Button Disabled="@Disabled" Color="Color.Danger" Clicked="@ShowModal">Delete Application</Button>
            </Buttons>
        </BarEnd>
    </Bar>
    <Row HorizontalGutter="32" VerticalGutter="16">
        <Column ColumnSize="ColumnSize.Is12">
            <Heading Size="HeadingSize.Is3">@Application.Name</Heading>
        </Column>
    </Row>
    <Row HorizontalGutter="16" VerticalGutter="32">
        <Column ColumnSize="ColumnSize.Is12">
            
            <CardDeck>
                <Card>
                    <CardBody>
                        <CardTitle>Phrases</CardTitle>
                        <CardText>@Application.PhraseCount</CardText>
                    </CardBody>
                </Card>
                <Card>
                    <CardBody>
                        <CardTitle>Languages</CardTitle>
                        <CardText>@Application.Languages.Count</CardText>
                    </CardBody>
                </Card>
                <Card>
                    <CardBody>
                        <CardTitle>Translations</CardTitle>
                        <CardText>@Application.TranslationCount</CardText>
                    </CardBody>
                </Card>
                <Card>
                    <CardBody>
                        <CardTitle>Users</CardTitle>
                        <CardText>@Application.Users.Count</CardText>
                    </CardBody>
                </Card>
            </CardDeck>
           
        </Column>
    </Row>
    <Row HorizontalGutter="32" VerticalGutter="32">
        <Column ColumnSize="ColumnSize.Is9">
            <PhraseList @ref="list" ApplicationId="@ApplicationId"></PhraseList>
        </Column>
        <Column ColumnSize="ColumnSize.Is3">

            <LanguageDropdown LanguagesChanged="HandleLanguageChange" Disabled="@Disabled" SelectedLanguages="@Application.Languages.Select(x=>x.Id).ToList()"></LanguageDropdown>

        </Column>
    </Row>

    <Modal @ref="deleteApplication">
        <ModalContent>
            <ModalHeader>
                <ModalTitle>Delete Application</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Paragraph>Are you sure you want to delete this application?</Paragraph>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
                <Button Color="Color.Danger" Clicked="@DeleteApplication">Yes, Delete Application</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

}
