@inherits ApplicationDetailsBase

@page "/applications/{ApplicationId:guid}"

@if (Application == null)
{
    <p>Loading...</p>
}
else
{
    <Row HorizontalGutter="32" VerticalGutter="16">
        <Column ColumnSize="ColumnSize.Is12">
            <ApplicationBreadcrumb NavigationItems="@NavigationItems"></ApplicationBreadcrumb>
        </Column>
    </Row>
    <Row HorizontalGutter="32" VerticalGutter="16">
        <Column ColumnSize="ColumnSize.Is12">
            <Heading Size="HeadingSize.Is3">@Application.Name</Heading>
        </Column>
    </Row>
    <Row HorizontalGutter="32" VerticalGutter="16">
        <Column ColumnSize="ColumnSize.Is12">

            <Buttons>
                <Button Color="Color.Secondary" Type="ButtonType.Link" To=@($"/applications/{ApplicationId}/create-phrase")>Create Phrase</Button>
            </Buttons>
        </Column>
    </Row>
    <Row HorizontalGutter="16" VerticalGutter="32">
        <Column ColumnSize="ColumnSize.Is12">
            
            <CardDeck>
                <Card>
                    <CardBody>
                        <CardTitle>Phrases</CardTitle>
                        <CardText>@Application.PhraseCount</CardText>
                    </CardBody>
                </Card>
                <Card>
                    <CardBody>
                        <CardTitle>Languages</CardTitle>
                        <CardText>@Application.Languages.Count</CardText>
                    </CardBody>
                </Card>
                <Card>
                    <CardBody>
                        <CardTitle>Translations</CardTitle>
                        <CardText>@Application.TranslationCount</CardText>
                    </CardBody>
                </Card>
                <Card>
                    <CardBody>
                        <CardTitle>Users</CardTitle>
                        <CardText>@Application.Users.Count</CardText>
                    </CardBody>
                </Card>
            </CardDeck>
           
        </Column>
    </Row>
    <Row HorizontalGutter="32" VerticalGutter="32">
        <Column ColumnSize="ColumnSize.Is8">
            <PhraseList @ref="list" ApplicationId="@ApplicationId"></PhraseList>
        </Column>
        <Column ColumnSize="ColumnSize.Is4">
            <Accordion>
                <Collapse>
                    <CollapseHeader>
                        <Heading Size="HeadingSize.Is5">
                            <AccordionToggle Background="Background.Primary" TextColor="TextColor.Light">Languages</AccordionToggle>
                        </Heading>
                    </CollapseHeader>
                    <CollapseBody>
                        <LanguageList LanguagesChanged="Reload"></LanguageList>
                    </CollapseBody>
                </Collapse>
                <Collapse>
                    <CollapseHeader>
                        <Heading Size="HeadingSize.Is5">
                            <AccordionToggle Background="Background.Secondary" TextColor="TextColor.Light">Users</AccordionToggle>
                        </Heading>
                    </CollapseHeader>
                    <CollapseBody>
                        This is User List
                    </CollapseBody>
                </Collapse>
            </Accordion>
        </Column>
    </Row>

}
