@page "/applications/{ApplicationId:guid}/phrases/{PhraseId:int}"
@inherits PhraseDetailsBase

@if (ApplicationPhrase != null)
{
    <Bar>
        <BarStart>
            <ApplicationBreadcrumb NavigationItems="@NavigationItems"></ApplicationBreadcrumb>
        </BarStart>
        <BarEnd>
            <Buttons>
                <Button Disabled="@Disabled" Color="Color.Secondary" Type="ButtonType.Link" To=@($"/applications/{ApplicationId}/create-phrase")>Create Phrase</Button>
                <Button Color="Color.Danger" Clicked="@ShowModal">Delete Phrase</Button>

            </Buttons>
        </BarEnd>
    </Bar>
    
    <Row HorizontalGutter="32" VerticalGutter="16">
        <Column ColumnSize="ColumnSize.Is12">
            <TranslationList ApplicationId="@ApplicationId" PhraseId="@PhraseId">

            </TranslationList>
        </Column>
    </Row>

    
    <Modal @ref="deletePhrase">
        <ModalContent>
            <ModalHeader>
                <ModalTitle>Delete Phrase</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Paragraph>Are you sure you want to delete the phrase "@ApplicationPhrase.Text"?</Paragraph>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
                <Button Color="Color.Danger" Clicked="@DeletePhrase">Yes, Delete Phrase</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
}



@code {
    public bool Disabled { get; set; }



    private Modal deletePhrase;
    
    private Task ShowModal()
    {
        return deletePhrase.Show();
    }
    private Task HideModal()
    {
        return deletePhrase.Hide();
    }

    public async Task DeletePhrase()
    {
        await HideModal();
        Disabled = true;
        await ApplicationPhraseService.DeletePhraseAsync(ApplicationId, PhraseId);
        Disabled = false;
        NavigationManager.NavigateTo($"/applications/{ApplicationId}");
    }
}
